/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Dajah Medina
   Date:   1.15.19

   Filename: cg_validate.css

*/

/* I gave the input, select, and textarea a psudeo class of focus so that it is active when the user clicks on itand gave them a background color. next I targeted all the id's and gave them a  psudeo class for valid and invalid seperatly.with diffeent colors and images so when the user types soething valid or invalid it will show them. */

/* Validation Styles */
input:focus,
select:focus,
textarea:focus {
    background-color: rgb(245, 245, 140);
}

#fnBox:focus:valid,
#lnBox:focus:valid,
#addBox:focus:valid,
#mailBox:focus:valid,
#phoneBox:focus:valid,
#idBox:focus:valid {
    background: url(cg_valid.png) right no-repeat, rgb(220, 255, 220);

}


#fnBox:focus:invalid,
#lnBox:focus:invalid,
#addBox:focus:invalid,
#mailBox:focus:invalid,
#phoneBox:focus:invalid,
#idBox:focus:invalid {
    background: url(cg_invalid.png) right no-repeat, rgb(255, 232, 232);
}